<!DOCTYPE html>
<html lang="en">
  <head>

<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"/>

<meta charset="utf-8">
<title>College Voice Portal</title>
<meta name="description" content="College Voice Portal">
<link href="bootstrap-1.0.0.css" rel="stylesheet">
<style type="text/css">    
.c{
font-size:20px;
color:blue
</style>
   <meta charset="utf-8">
    <title>Aurora's Technological and Research Institiute</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="../1.4.0/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">

    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">





  </head>




  <body>

    

      
        
<div class="row">
<div class="span2">

  <img src="C:\play-1.2.4\cv\public\images\abhimanyu.jpg">
	</div><BR>

  <h1 align="center">College Voice Portal</h1>
        </div>
<div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="


@{Application.index()}">HOME</a>
<ul class="nav" align="center">



<li><a href="@{Application.about()}">ABOUT US</a></li>

<li><a href="


@{Application.why()}">Why CVP ?</a></li>
<li><a href="


@{Application.cvp()}">What is CVP ?</a></li>




<li><a href="


@{Application.contacts()}">CONTACTS</a></li>

          </ul>


        
         

        </div>
      </div>
    </div>











      


          
          
         
   
<div class="container-fluid">
<div class="sidebar">

<strong>Username</strong><br>

<input class="input-MEDIUM" type="text" placeholder="Username" height="75%"></tr>
<br><br>
<strong>Password</strong><br>
<input class="input-MEDIUM" type="password" placeholder="Password" width="75%">
<br><br>
<div class="row">
<div class="span2">
<button class="btn primary">Sign in</button>
<br></br>
<button class="btn primary"><li><a href="


@{Application.signup()}">signup</a></li></button>
</div>
<div class="span0">

       <input type="checkbox" id="chk1" name="chk1">Stay signed in</label>




</div>
</div>
</div>
<div class="content">


<br><br>
<div class="hero-unit"><h2>About Us</h2><p style="font-size:20px;">
Ozonetel pioneers in providing hardware and software platform that delivers complex Business Telephony Solutions in easy way. "KooKoo" Ozonetel's PSTN cloud platform empowers Enterprises to quickly deploy cost-efficient and feature rich Telephony Solution for their business. With KooKoo enterprises can enable multi-location/multilingual IVR, Contact Centre, PBX and other telephony services with localised call treatment, with zero hardware installation and managing all using online admin portal. KooKoo enhances customer experience and reduces operation cost.</p></div>
















</div>

























</div>



</body>
</html>
