<!DOCTYPE html>
<html lang="en">
  <head>

<link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"/>

<meta charset="utf-8">
<title>College Voice Portal</title>
<meta name="description" content="College Voice Portal">
<link href="bootstrap-1.0.0.css" rel="stylesheet">
<style type="text/css">    
.c{
font-size:20px;
color:blue
</style>
   <meta charset="utf-8">
    <title>Aurora's Technological and Research Institiute</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="../1.4.0/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">

    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">





  </head>




  <body>

    

      
        
<div class="row">
	<div class="span2">

		 <img src="C:\play-1.2.4\cv\public\images\abhimanyu.jpg">
	</div><BR>

		  <h1 align="center">Aurora's  Technological & Research Institute</h1>
</div>
<div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="@{Application.index()}">HOME</a>
<ul class="nav" align="center">



<li><a href="@{Application.about()}">ABOUT US</a></li>

<li><a href=@{Application.why()}">Why CVP ?</a></li>


<li><a href="@{Application.cvp()}">What is CVP ?</a></li>







<li><a href="@{Application.contacts()}">CONTACTS</a></li>

          </ul>


        
         

        </div>
      </div>
    </div>











      


          
          
         
   
<div class="container-fluid">
<div class="sidebar">

<strong>Username</strong><br>

<input class="input-MEDIUM" type="text" placeholder="Username" height="75%"></tr>
<br><br>
<strong>Password</strong><br>
<input class="input-MEDIUM" type="password" placeholder="Password" width="75%">
<br><br>
<div class="row">
	<div class="span2">
	<button class="btn primary">Sign in</button>
	<br></br>
	<button class="btn primary"><li><a href="


@{Application.signup()}">signup</a></li></button>
	</div>
	<div class="span0">
       <input type="checkbox" id="chk1" name="chk1">Stay signed in</label>
	</div>
</div>
</div>
<div class="content">



<div class="hero-unit">
<h2 align="center">
COLLEGE VOICE PORTAL</h2><br>
<p  style="font-size:20px;">
The project college voice portal provides a IVR based information access system for colleges, schools, and other educational institutions.</p><br>
<h2>Existing system:</h2>
     <p>Now a days many educational institutions are using short message services (sms) for day to day queries of the students and parents. But these systems are not reliable as messages may or may not reach the user in time. Also due to TRAI act and DND (do not disturb) service the instititutions are not able to send large no of messages on a single day.</p><br>
	<p>The other major problem is the existing system is one way communication as the messages are generated by institutions to send information .But if the user have any queries he cannot communicate with the institution</p><br>
<h2>
Proposed system:</h2>
<p  style="font-size:20px;">
The proposed system is based on IVR technology. In this system we provide the   institution with a unique phone number .The user can call to this number to know   student information. The user makes his queries and based on the query the call is redirected to the student database and a response is generated. We use KOOKOO platform which is used to convert texted data to voice xml.


</div>
</div>
</div>
</body>
</html>
