<!DOCTYPE html>
<html lang="en">
  <head>

<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"/>

<meta charset="utf-8">
<title>College Voice Portal</title>
<meta name="description" content="College Voice Portal">
<link href="bootstrap-1.0.0.css" rel="stylesheet">
<style type="text/css">    
.c{
font-size:20px;
color:blue
</style>
   <meta charset="utf-8">
    <title>Aurora's Technological and Research Institiute</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="../1.4.0/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">

    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">





  </head>




  <body>

    

      
        
<div class="row">
<div class="span2">

  <img src="C:\play-1.2.4\cv\public\images\abhimanyu.jpg">
	</div><BR>

  <h1 align="center">College Voice Portal</h1>
        </div>
<div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="


@{Application.index()}">HOME</a>
<ul class="nav" align="center">



<li><a href="


@{Application.about()}">ABOUT US</a></li>

<li><a href="


@{Application.why()}">Why CVP ?</a></li>



<li><a href="


@{Application.cvp()}">What is CVP ?</a></li>




<li><a href="


@{Application.contacts()}">CONTACTS</a></li>

          </ul>


        
         

        </div>
      </div>
    </div>


<p id="signup"><br><br><div class="hero-unit">
<h2 align="center">APPLICATION-FORM

<form name=reg method=post onSubmit="validate()" action="regmsg.html">
 
<table align=center>

<tr><td>User Name</td><td><input type=text name=uid>*</td></tr>

<tr><td>Password</td><td><input type=password name=pwd>*</td></tr>

<tr><td>Confirm Password</td><td><input type=password name=tpwd>*</td></tr>

<tr><td>Name</td><td><input type=text name=tname>*</td></tr>
<tr><td>Phone number</td><td><input type=text name=tno>*</td></tr>
<tr><td>Date of Birth</td>
<td><select name=date>
<option value=0>dd</option>
<option value=1>1</option>
<option value=2>2</option>
<option value=3>3</option>
<option value=4>4</option>
<option value=5>5</option>
<option value=6>6</option>
<option value=7>7</option>
<option value=8>8</option>
<option value=9>9</option>
<option value=10>10</option>
<option value=11>11</option>
<option value=12>12</option>
<option value=13>13</option>
<option value=14>14</option>
<option value=15>15</option>
<option value=16>16</option>
<option value=17>17</option>
<option value=18>18</option>
<option value=19>19</option>
<option value=20>20</option>
<option value=21>21</option>
<option value=22>22</option>
<option value=23>23</option>
<option value=24>24</option>
<option value=25>25</option>
<option value=26>26</option>
<option value=27>27</option>
<option value=28>28</option>
<option value=29>29</option>
<option value=30>30</option>
<option value=31>31</option></select>
<select name=month>
<option value=0>mm</option>
<option value=1>Jan</option>
<option value=2>feb</option>
<option value=3>mar</option>
<option value=4>apr</option>
<option value=5>may</option>
<option value=6>june</option>
<option value=7>july</option>
<option value=8>aug</option>
<option value=9>sep</option>
<option value=10>oct</option>
<option value=11>nov</option>
<option value=12>dec</option></select>
<select name=year>
<option value=0>yy</option>
<option value=1>1975</option>
<option value=2>1976</option>
<option value=3>1977</option>
<option value=4>1978</option>
<option value=5>1979</option>
<option value=6>1980</option>
<option value=7>1981</option>
<option value=8>1982</option>
<option value=9>1983</option>
<option value=10>1984</option>
<option value=11>1985</option>
<option value=12>1986</option>
<option value=13>1987</option>
<option value=14>1988</option>
<option value=15>1989</option>
<option value=16>1990</option>
<option value=17>1991</option>
<option value=18>1992</option>
<option value=19>1993</option>
<option value=20>1994</option>
<option value=21>1995</option>
<option value=22>1996</option>
<option value=23>1997</option>
<option value=24>1998</option>
<option value=25>1999</option>
<option value=26>2000</option>
<option value=27>2001</option>
<option value=28>2002</option>
<option value=29>2003</option>
<option value=30>2004</option>
<option value=31>2005</option>
<option value=32>2006</option>
<option value=33>2007</option>
<option value=34>2008</option>
<option value=35>2009</option>
<option value=36>2010</option>
<option value=37>2011</option>
<option value=38>2012</option>
<option value=39>2013</option>
<option value=40>2014</option>
<option value=41>2015</option>
<option value=42>2016</option>
<option value=43>2017</option>
<option value=44>2018</option>
<option value=45>2019</option>
<option value=46>2020</option>
<option value=47>2021</option>
<option value=48>2022</option>
<option value=49>2023</option>
<option value=50>2024</option>
<option value=51>2025</option>
<option value=52>2026</option>
<option value=53>2027</option>
<option value=54>2028</option>
</select></td></tr>

<tr><td>Country</td><td><select name=country>
<option value=0>sel</option>
<option value=1>Australia</option>
<option value=2>Austria</option>
<option value=3>Bangladesh</option>
<option value=4>Barbados</option>
<option value=5>Bermuda</option>
<option value=6>China</option>
<option value=7>Cuba</option>
<option value=8>Denmark</option>
<option value=9>Europe</option>
<option value=10>India</option>
<option value=11>Pakistan</option>
<option value=12>USA</option></select></td>

<tr><td>Gender</td><td>Male<input type=radio name=gender checked>Female<input type=radio name=gender></td></tr>
<tr><td>Email Id</td><td><input type=text name=eid>*</td></tr>

<tr><td>Address</td><td><textarea name=addr></textarea>*</td></tr>
<tr><td><input type=submit value=submit></td><td><input type=reset value=clear></td></tr>
</table>
</form>
</div>
</p>














</div>








